@charset "utf-8";
.mdOverlayScreen {
  position: fixed;
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  transition: opacity .4s ease-out,height 0s;
  background: rgba(0,0,0,.7);
}
.mdOrderListModal {
  padding: 25px;
  width: 760px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  z-index: 99999;
  position: fixed;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  height: 90vh;
  overflow: auto;
}
.mdOrderListModal .elClose,
.mbOrderListDialog .elClose {
  background-color: #333;
  color: #fff;
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  margin-top: -25px;
  text-decoration: none;
  line-height: 40px;
}
.mdOrderListModal .elClose::before,
.mbOrderListDialog .elClose::before {
  content:"×";
  speak:none;
  font-size:26px;
  text-align: center;
  display: block;
}
.mdOrderListModal .elClose:hover,
.mbOrderListDialog .elClose:hover,
.mdOrderListModal .elFooterButton a:hover{
  opacity: 0.7;
}
.mdOrderListModal .btnAreaLeft,
.mdOrderListModal .btnAreaRight {
  margin:0 10px;
}
.mdOrderListModal .btnAreaLeft {
  width: 90px;
}
.mdOrderListModal .btnAreaRight {
  width: 20px;
}
.mdOrderListModal .elFooterButton a{
  color:inherit;
  text-decoration: none;
  display: block;
}
.mdOrderListModal .elFooterButton {
  margin: 20px auto;
  text-align: center;
  display: block;
  overflow: hidden;
}
.mdOrderListModal ul.elFooterButton li {
  width: 170px;
  line-height: 40px;
  background-color: #1C7AB3;
  margin-left: 10px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
}
.mdOrderListModal ul.elFooterButton li.elCansel {
  background-color: #ECEEEE;
  color: #333;
  border: solid 1px #C1CACA;
}
.mdOrderListModal td.btnArea {
  padding: 0 10px;
  text-align: center;
  font-size: 14px;
}
.mdOrderListModal .ycMdBtn {
  width: 60px;
}
.mdOrderListModal h2 {
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: bold;
}
.mdOrderListModal .elSelectListLeft,
.mdOrderListModal .elSelectListRight{
  width: 300px;
  background-color: #f5f5f5;
  padding: 10px;
  border: none;
}
.mdOrderListModal .elSelectListRight{
  height: 655px;
}
.mdOrderListModal .elSelectListLeft option.elSubTitle {
  font-size: 12px;
  background-color: #E2EEF1;
  padding: 5px;
  font-weight: bold;
  color: #333;
}
.mdOrderListModal .elSelectListLeft .elSelect {
  float: right;
  font-size: 11px;
}
.mdOrderListModal .elSelectListRight .elTitle  {
  margin-top: 20px;
}
.mdOrderListModal .elSelectListLeft .elTitle:nth-child(n+2) {
  margin-top: 10px;
}
.mdOrderListModal .elSelectListLeft option.elSubTitle .elSubTitleSelect {
  float: right;
}
.mdOrderListModal .elSelectListLeft select,
.mdOrderListModal .elSelectListRight select {
  border: none;
  width: 300px;
  height: 185px;
  background-color: #f5f5f5;
  font-size: 13px;
}
.mdOrderListModal .elSelectListLeft select:focus,
.mdOrderListModal .elSelectListRight select:focus{
  outline: none;
}
.mdOrderListModal .elSelectListRight select {
  height: 668px;
}
.mdOrderListModal .elSelectListLeft .elTitle,
.mdOrderListModal .elSelectListRight .elTitle {
  font-size: 13px;
  background-color: #E2EEF1;
  padding: 5px;
  font-weight: bold;
}
.mdOrderListModal .elSelectListLeft option,
.mdOrderListModal .elSelectListRight option{
  margin-top: 5px;
  padding: 5px;
  background-color: #fff;
  width: 100%;
  display: block;
}
.mdOrderListModal .elSelectListRight option:first-child{
  margin-top: 10px;
}
.mdOrderListModal .elSelectListRight option:disabled {
  background-color: #ccc;
  color:#fff
}
.mdOrderListModal .elSelectListLeft h3,
.mdOrderListModal .elSelectListRight h3 {
  background-color: #1C7AB3;
  padding: 10px;
  margin: -10px -10px 0;
  color: #fff;
  font-size: 14px;
  line-height: 1;
}
.mbOrderListDialog {
  padding: 25px;
  width: 400px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  z-index: 5000002;
  position: fixed;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  text-align: center;
  line-height: 1.4;
}
.mbOrderListDialog .elTitle {
  font-size: 16px;
  font-weight: bold;
}
.mbOrderListDialog .elText,
.mbOrderListDialog .elNotice{
  margin-top: 10px;
  font-size: 14px;
}
.mbOrderListDialog .elNotice input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.mdOrderListModal .btnGrS a {
  width: 52px;
}

.mdOrderListModal .w90 {
  width: 90px;
}

.mdOrderListModal ul.elFooterButton li.elDisabled {
  background-color: #C1CACA;
}